<h1 class="page-title">Edit your account</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<% form_for @user do |f| -%>
  <p><%= label_tag 'name' %><br/>
  <%= f.text_field :name, :class => 'big' %></p>

  <p><%= label_tag 'email' %><br/>
  <%= f.text_field :email, :class => 'big' %></p>

  <p><%= label_tag 'password' %><br/>
  <%= f.password_field :password, :class => 'big' %></p>

  <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation, :class => 'big' %></p>

  <div id="meta" class="buttons">
    <%= submit_tag 'Update account' %> or <%= link_to 'Cancel', root_path %>
  </div>
<% end -%>
